/* src/OutraPagina.css */
* {
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: inherit;
  text-decoration: none;
  border: 0;
  background: none;
  margin: 5px; /* Margem uniforme */
}

body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #000;
}

.container {
  display: flex;
  height: 98vh;
  background-color: #2c2c2c;
  color: #fff;
  border-radius: 20px;
}

.lista-contatos {
  width: 350px;
  border-right: 1px solid #444;
  overflow-y: auto;
  padding: 10px;
  background-color: #2c2c2c;
  position: relative;
}

/* Header da lista de contatos */
.header {
  position: sticky;
  top: 0;
  background-color: #2c2c2c;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #444;
  z-index: 1;
  box-shadow: 0 2px 4px rgba(0,0,0,0.5);
}

.header h2 {
  margin: 0;
}

.header .header-actions {
  display: flex;
  align-items: center;
}

.header .header-actions button {
  background: none;
  border: none;
  color: #007bff;
  font-size: 18px;
  cursor: pointer;
  margin-left: 10px;
}

.header .header-actions button:hover {
  color: #0056b3;
}

/* Custom scrollbar for lista-contatos */
.lista-contatos::-webkit-scrollbar {
  width: 8px;
}

.lista-contatos::-webkit-scrollbar-thumb {
  background-color: #444;
  border-radius: 4px;
}

.lista-contatos::-webkit-scrollbar-track {
  background-color: #2c2c2c;
}

.contatos-list {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}

.contato {
  padding: 10px;
  border-bottom: 1px solid #444;
  cursor: pointer;
}

.contato.ativo {
  background-color: #444;
  width: 350px;
}

.contato-info {
  margin: 0;
}

.barra-carregamento {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2c2c2c;
}

.chat {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 10px;
  background-color: #2c2c2c;
}

.chat-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chat-header {
  font-size: 1.5em;
  margin-bottom: 10px;
  border-bottom: 1px solid #444;
  padding-bottom: 5px;
  background-color: #2c2c2c;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mensagens {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  background-color: #3a3a3a;
  border-radius: 5px;
  display: flex;
  flex-direction: column-reverse;
  background-image: url('https://lh3.googleusercontent.com/pw/AP1GczMoK0bfXJCrR3XCOo8eRecT0ncyPhACCC-w13sT025lbiH09leW36HrltRuBy7H9nJEacjOMIm_7qrPiutenA9ErbFYBMmeOZ3g8wzeBZRtTQKtloihbVMK6G9qYm-Z-NMwqsp5oRVFzcWIunbq0j1FkQ=w1280-h720-s-no-gm?authuser=0');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}

.mensagens::-webkit-scrollbar {
  width: 8px;
}

.mensagens::-webkit-scrollbar-thumb {
  background-color: #444;
  border-radius: 4px;
}

.mensagens::-webkit-scrollbar-track {
  background-color: #2c2c2c;
}

/* Estilo geral da mensagem */
.mensagem {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  max-width: 70%;
  word-wrap: break-word;
  position: relative;
}

/* Estilo das mensagens enviadas por mim */
.mensagem.minha {
  background-color: #535455;
  color: #fff;
  align-self: flex-end;
  text-align: start;
  font-size: 20px;
}

/* Estilo das mensagens recebidas do contato */
.mensagem.do-contato {
  background-color: #e5e5ea;
  color: #000;
  align-self: flex-start;
  text-align: end;
  font-size: 20px;
}

/* Corpo da mensagem dentro da bolha */
.mensagem-body {
  background-color: inherit;
  border-radius: 10px;
}

/* Rodapé da mensagem com data e hora */
.mensagem-footer {
  font-size: 0.6em;
  color: #000000;
  text-align: right;
}

/* Botão "Carregar mais mensagens" dentro da div mensagens */
.carregar-mais-container {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.carregar-mais {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.carregar-mais:hover {
  background-color: #0056b3;
}

.campo-envio {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #444;
  border-radius: 5px;
  background-color: #3a3a3a;
  color: #fff;
  resize: none;
}

.campo-envio-botoes {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button:disabled {
  background-color: #ccc;
}

button:hover {
  background-color: #0056b3;
}

.anexar, .emoji {
  background: none;
  border: none;
  font-size: 18px;
}

.imagem-aleatoria {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding: 20px;
  background-color: #3a3a3a;
  border-radius: 5px;
}

.imagem-aleatoria img {
  max-width: 100%;
  border-radius: 5px;
}

.error-message {
  color: red;
  margin: 10px 0;
}

/* Estilos para HTML formatado */
strong {
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

u {
  text-decoration: underline;
}

code {
  background-color: #f4f4f4;
  padding: 2px 4px;
  border-radius: 4px;
}

/* Estilo para mídias (imagens, stickers, etc.) */
.mensagem-midia {
  position: relative;
  display: inline-block;
}

.mensagem-midia img, .mensagem-midia video {
  max-width: 100%;
  border-radius: 10px;
  cursor: pointer;
}

.mensagem-midia a {
  text-decoration: none;
}

.mensagem-midia a.download {
  position: absolute;
  bottom: 5px;
  right: 5px;
  background-color: #007bff;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.8em;
}

.mensagem-midia a.download:hover {
  background-color: #0056b3;
}
